pip install serial
pip install pySerial
pip Install pygame
pip install opencv-python
pip install cv2
pip install opencv-contrib-python


serial~=0.0.97
pyserial~=3.5
opencv-python~=4.5.3.56
opencv-contrib-python-4.5.3.56
